ProvedorEstoqueHost/Connected Services/ServiceReference1/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://projetoavaliativo.dm113/01" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://projetoavaliativo.dm113/01" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://projetoavaliativo.dm113/01/Imports">
      <xsd:import schemaLocation="http://localhost:49619/Service1.svc?xsd=xsd0" namespace="http://projetoavaliativo.dm113/01" />
      <xsd:import schemaLocation="http://localhost:49619/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49619/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:49619/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServicoEstoqueLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ListarProdutos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProdutos" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarProdutos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProdutosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IncluirProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:IncluirProduto" />
  </wsdl:message>
  <wsdl:message name="IService1_IncluirProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoverProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverProduto" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoverProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultaEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaEstoque" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultaEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AdicionarEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarEstoque" />
  </wsdl:message>
  <wsdl:message name="IService1_AdicionarEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoverEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverEstoque" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoverEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_VerProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:VerProduto" />
  </wsdl:message>
  <wsdl:message name="IService1_VerProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerProdutoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ListarProdutos">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IService1/ListarProdutos" message="tns:IService1_ListarProdutos_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IService1/ListarProdutosResponse" message="tns:IService1_ListarProdutos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncluirProduto">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IService1/IncluirProduto" message="tns:IService1_IncluirProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IService1/IncluirProdutoResponse" message="tns:IService1_IncluirProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverProduto">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IService1/RemoverProduto" message="tns:IService1_RemoverProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IService1/RemoverProdutoResponse" message="tns:IService1_RemoverProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaEstoque">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IService1/ConsultaEstoque" message="tns:IService1_ConsultaEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IService1/ConsultaEstoqueResponse" message="tns:IService1_ConsultaEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarEstoque">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IService1/AdicionarEstoque" message="tns:IService1_AdicionarEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IService1/AdicionarEstoqueResponse" message="tns:IService1_AdicionarEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverEstoque">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IService1/RemoverEstoque" message="tns:IService1_RemoverEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IService1/RemoverEstoqueResponse" message="tns:IService1_RemoverEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerProduto">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IService1/VerProduto" message="tns:IService1_VerProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IService1/VerProdutoResponse" message="tns:IService1_VerProduto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>